*{	 
	font-family: Verdana, sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-boxs;
}

.welcome_name {
	font-weight: bold;
	font-style: italic;
}

#savetime{
	color: green;
}
.hello{
	text-align: center;
	margin-top: 200px;
}

/* Header starts here */

.header{
	min-height: 100px;
	background-color: #F8F9FD;
	display: flex;
	/* flex-flow: wrap; */
	position: sticky;
	align-items: center;
	justify-content: space-between;
	/* border-radius: 10px 5% / 20px 30px; */
	z-index: -1;

}

.header a{
	color: black;
	font-size: 14px;
}

.logo{
	/*margin-right: 20%; */
	/* width: 200px; */
	font-weight: bold;
	margin-left: 10px;
}

.header_nav{
	background-color: #F8F9FD;
	/* justfy-content: space-around; */
}

.flex_items{
	/* width: 300px; */
	margin: 0 15px 0 15px;
}

#shopping_cart{
	font-size: 25px;
}

.header_nav a{	
	/* margin-top: 10px; */
	text-decoration: none;	
}

#logo{

}

.right_nav{	
	display: flex;
	justfy-content: space-between;
	text-decoration: none;	
	/* margin-left: auto;
	margin-right: 10px; */
}

.right_nav > a {
	margin: 10px;
}

/* Home page starts here */

#body{
	background-color: #f1f1f1;
	position: relative;
	min-height: 100vh;
	z-index: -1;
	
}

.home{	
	padding-bottom: 11rem;
	/* min-height: calc(100vh - 100px - 160px ); */
	min-height: 90vh;
	margin-bottom: -100px;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	z-index: -1;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

/* footer starts here */

.footer {
	background-color: #F8F9FD;
	/* position: absolute; */
	bottom: 0;
	width: 100%;
	height: 10rem; 
	align-items: center;
	clear: both;
	position: relative;
	/* height: 100px; */
	/* margin-top: -100px; */
	text-align: center;
	display: flex;
	justify-content: center
	
}


.footer > h3 {
	text-align: center;
	/* margin-top: 50px; */
	align-items: center;
	
}

/* Contact Us page starts here */

.textArea{
	/* text-align: justify; */
	margin-left: 25%;
}

.email1 , .fName1 , .lName1 {
	/* margin-left: 100px; */
	display: flex;
}

.home_FAQ{
  
  background-color: white;
}

/* FAQ page starts here */


.accordion {
  background-color: #ffffff;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ffffff; 
}

.panel {
  padding: 15px 18px;
  display: none;
  background-color: white;
  text-align: center;
  overflow: hidden;
  background-color: #d9d9d9;
  height: 50px;
  
}
.accordion:after {
  content: '\02795';
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;


}

.active:after {
  content: "\2796"; 
  
}
.faq_page {text-align: center;
}

	/* Add products page starts here */
	
.add_product > h1 {
	text-align: center;
	margin-top: 50px;
}

.add_product {
	width: 300px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid lightgray;
  padding: 20px;
  margin-top: 50px;
  align-items: center;
  background-color: white;
  margin-bottom: 200px;
}

.home_addProduct {
  /* background-color: white; */
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

/* Update products page starts here */

.updateProduct > h1 {
	text-align: center;
	margin-top: 50px;
}

.updateProduct {
	width: 300px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid lightgray;
  padding: 20px;
  margin-top: 50px;
  align-items: center;
  background-color: white;
  margin-bottom: 200px;
  
}

.home_updateProduct {
  /* background-color: white; */
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  
}
/*products*/
.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	height: 300px;
	margin: 15px;
	/* text-align: center; */
	font-family: arial;
	position: relative;
	float: left;
	width: 25%;
	padding: 2px;
	background-color:white;
}

.price {
	color: grey;
	font-size: 22px;
	margin: 10px;
}

.description {
	margin: 10px;
}

.name {
	margin: 10px;
}

.card_button {
	position: absolute;
	bottom: 5px;
	border: none;
	/* outline: 0; */
	padding: 10px;
	color: white;
	background-color: #000;
	text-align: center;
	cursor: pointer;
	width: 100%;
	font-size: 18px;
	z-index: 1;
}

.card button:hover {
	opacity: 0.7;
}

.home_products {
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	/* min-heigh: 100%; */
	z-index: -1;
	background-color: white;
}

.contener_row {
	margin-left: 5px;
	margin-right: 5px;
	justify-content: space-evenly;
	z-index: -1;
	
}

.col {
	diaplay: in-line;
}

.btn {
	padding: 5px;
	color: white;
	background-color: #000;
}

/* .body {
	width: 100%;
	min-heigh: 100%;
	background-color: white;
}
 */
 
 .home_products {
			justify-content: center;
		    margin-left: auto;
		    margin-right: auto;
		    max-width: 1500px;
		    
		    z-index: -1;
		    background-color: white;
		}

/*shoppingCart begins here
*/
.cart_card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	height: 100px;
	margin: 25px 15px 10px 60px;
	text-align: center; 
	font-family: arial;
	width: 400px;
	
}

.cart_price {
	color: black;
	font-size: 15px;
	margin: 10px;
}


}

.cart_name {
	margin: 10px;
	



}

.view_cart {
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	/* min-heigh: 100%; */
	z-index: -1;
	background-color: white;
	display: flex;
}

.qty_button {
	border: none;
	color: black;
	text-align: center;
	text-decoration: none;
	width:10%;
	cursor: pointer;
	padding-left:10px;
	
}
.total{
	width:10%;
	padding-left:15px;
}

.row {
	margin-left: 5px;
	margin-right: 5px;
	justify-content: space-evenly;
	z-index: -1;
}

.col {
	diaplay: in-line;
}

.btn {
	padding: 5px;
	color: white;
	background-color: #000;
}

.checkout {
	bottom: 0;
	background-color: grey;
	width: 30%;
	font-size: 20px;
}
.Subtotal{
	width:10%;
	
}
.Tax{
width:10%;
}
.Total{
width:10%;
}
.totalCart {
	height:100px;
	padding: 15px;
	width: 30%;
}
.Tax{
	padding-right: 40px;
}
.Total{
	padding-right: 30px;
}
.view_cart_left {
	width: 70%;
}